.box-privacy {
  display: flex;
  flex-direction: column;
}

.box-privacy-radio {
  font-size: 160%;
  font-style: italic;
}

.box-privacy-radio {
  margin-bottom: 3%;
  margin-left: 2%;
}

.box-privacy-radio > label {
  padding-left: 3%;
}

.box-privacy-radio > input {
  outline: none;
}


.box-limited {
  margin-top: 3%;
  border: 4px double grey;
  padding: 3% 2%;
  height: 300px;
  overflow-y: scroll;
}

.box-limited-input {
  padding-bottom: 4%;
  border-bottom: 3px solid orange;
}

.box-limited-input > input {
  display: inline-block;
  font-size: 160%;
  max-width: 50%;
  margin-left: 3%;
  outline: none;
  border-color: black;
  border-bottom: 3px solid rgb(0, 217, 255);
  padding: 1%;
  margin-bottom: 4%;
  background-color: black;
  color: rgb(0, 217, 255);
}

.box-limited-input > button {
  outline: none;
  margin-left: 2%;
  display: inline-block;
  font-size: 120%;
  font-style: italic;
  padding: 1% 2%;
  background-color: black;
  border: 2px solid rgb(0, 217, 255);
  color: rgb(0, 217, 255);
}

.box-limited-input > input:focus {
  border-bottom: 5px solid rgb(0, 217, 255);
}

.box-limited-input > label {
  font-style: italic;
  font-size: 150%;
  margin-left: 1%;
  color: orange;
}

.box-limited-search {
  width: 80%;
  max-height: 50%;
  border: 2px solid rgb(0, 217, 255);
  background-color: rgb(46, 41, 41);
  padding: 3%;
  padding-bottom: 6%;
}

.found-user {
  font-size: 150%;
  padding-bottom: 5%;
  padding-top: 3%;
  padding-left: 5%;
  border-bottom: 2px solid orange;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.limited-user {
  margin-top: 3%;
  font-size: 150%;
  padding-bottom: 5%;
  padding-top: 3%;
  padding-left: 5%;
  border-bottom: 2px solid orange;
  display: flex;
  align-items: center;

}

.limited-user-data {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.found-user > img, .limited-user-data > img {
  background-color: rgb(0, 217, 255);
  padding: 0.75%;
  width: 70px;
  margin-right: 8%;
  margin-top: 3%;
  border-radius: 50%;
}

.limited-user-data > img {
  margin-right: 20%;
  padding: 2%;
}

.box-limited-list > .limited-user-data {
  font-size: 150%;
  border-bottom: 2px solid rgb(0, 217, 255);
}

.limited-user-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 15%;
}

.limited-user-options > img {
  margin-left: 4%;
  width: 40px;
}

.limited-user-options > input {
  outline: none;
  margin-left: 2%;
  display: inline-block;
  font-size: 80%;
  min-width: 50%;
  font-style: italic;
  margin-right: 6%;
  background-color: black;
  border: 2px solid rgb(0, 217, 255);
  color: rgb(0, 217, 255);
}
