.box-privacy {
  display: flex;
  flex-direction: column;
}

.box-privacy-radio {
  font-size: 160%;
  font-style: italic;
}

.box-privacy-radio {
  margin-bottom: 3%;
  margin-left: 2%;
}

.box-privacy-radio > label {
  padding-left: 3%;
}

.box-privacy-radio > input {
  outline: none;
}
