.box-privacy {
  display: flex;
  flex-direction: column;
}

.box-privacy-radio {
  font-size: 160%;
  font-style: italic;
  margin-bottom: 5%;
  margin-left: 1%;
}

.box-privacy-radio > label > input {
  outline: none;
}

.box-privacy-radio > label:hover {
  text-decoration: underline;
  text-shadow: 0 0 7px rgb(50, 211, 240);
}
