body {
  margin: 0;
}

#header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  font-family: "DynarShadowC";
  border-bottom: 7px solid rgb(75, 73, 73);
}

#header-name {
  font-size: 290%;
  color: black;
  background-color: rgb(50, 211, 240);
  -webkit-transform: skewX(-25deg); 
	-moz-transform: skewX(-25deg); 
	-ms-transform: skewX(-25deg); 
	-o-transform: skewX(-25deg); 
  transform: skewX(-25deg);
  margin-left: 2%;
  padding-left: 2%;
  padding-right: 3%;
  padding-top: 1%;
  border-left: 7px solid rgb(75, 73, 73);
  border-right: 7px solid rgb(75, 73, 73);

}

#header-name > h1 {
  color: black;
  background: rgb(50, 211, 240);
  margin: 0 auto;
  -webkit-transform: skewX(25deg); 
	-moz-transform: skewX(25deg); 
	-ms-transform: skewX(25deg); 
	-o-transform: skewX(25deg); 
	transform: skewX(25deg); 
}

#header-search {
  background-color: rgb(50, 211, 240);
  margin-right: 2%; 
  padding-left: 2%;
  padding-right: 1.5%;
  font-size: 230%;
  -webkit-transform: skewX(-25deg); 
	-moz-transform: skewX(-25deg); 
	-ms-transform: skewX(-25deg); 
	-o-transform: skewX(-25deg); 
  transform: skewX(-25deg);
  border-left: 7px solid rgb(75, 73, 73);
  border-right: 7px solid rgb(75, 73, 73);
}

#header-search > input {
  margin-top: 15%;
  padding-left: 1%;
  border: solid 4px;
  border-color: black;
  color: black;
  outline: none;
  background-color: rgb(153, 237, 251);
  font-size: 80%;
  -webkit-transform: skewX(25deg); 
	-moz-transform: skewX(25deg); 
	-ms-transform: skewX(25deg); 
	-o-transform: skewX(25deg); 
	transform: skewX(25deg); 
}

#header-menu {
  margin-top: 0.5%;
  padding: 1%;
}

#header-menu > img{
  padding: 8%;
  height: 80px;
  border-radius: 50%;
  background-color: grey;
}

@font-face {
  font-family: "DynarShadowC";
  src: url("./fonts/15294.otf");
}