* {
  background-color: black;
  color: rgb(0, 217, 255);
  cursor: url("./imgs/cursor.png") 0 0, default;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(50, 211, 240);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: orange;
}
