#menu {
  padding: 1%;
  border-right: 7px solid rgb(75, 73, 73);
  width: 30%;
  margin: 0;
  max-height: 1000px;
  overflow-y: scroll;
}

.arrow {
  height: 30px;
  margin-top: 1%;
  margin-right: 1%;
  margin-left: 0.5%;
}

#show {
  margin-top: 1%;
  margin-left: 1%;
}

