#default-logo {
  background-color: rgb(0, 217, 255);
  border: 3px solid rgb(0, 217, 255);
  border-radius: 50%;
  padding: 0.5%;
  width: 50%;
  height: 10%;
  margin-bottom: 1%;
  display: block;
  margin: 0 auto;
  width: 53%;
}

#sign-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 130%;
  font-style: italic;
  margin-top: 8%;
  border-top: 3px solid grey;
}

.default-extra {
  font-size: 140%;
  font-style: italic;
  margin: 0;
  margin-bottom: 3%;
  margin-left: 1%;
}

#extra-reg-date {
  color: rgb(0, 255, 76);
}

#extra-email {
  color: rgb(204, 0, 255)
}

#extra-followers {
  color: grey
}
