#menu {
  padding: 1%;
  border-right: 4px solid rgb(75, 73, 73);
  min-width: 30%;
  max-width: 30%;
  flex-grow: 1;
  margin: 0;
  max-height: 1000px;
  overflow-y: scroll;
}

.arrow {
  height: 30px;
  margin-top: 1%;
  margin-right: 1%;
  margin-left: 0.5%;
}

#show {
  margin-top: 1%;
  margin-left: 1%;
}

#home-logo {
  height: 50px;
}

#menu-nav-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
