.entries-empty {
  text-align: center;
  font-weight: bold;
  font-size: 120%;
}

.box-entries-item {
  display: flex;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

.box-entries-item > p {
  margin: 0;
}

.box-entries-item > img {
  margin-right: 2%;
  height: 25px;
}

#mol-units-list {
  padding-bottom: 4%;
  padding-top: 4%;
}

.be-item-wrap, .be-item-icons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.be-item-wrap {
  padding-right: 8%;
}

.be-item-icons > img {
  height: 28px;
}

.be-item-icons > img:first-child {
  margin-right: 40%;
}
