#sign {
  margin-bottom: 10%;
}

#sign {
  overflow-y: scroll;
}

#sign-switch {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 5%;
  text-align: center;
}

#sign-switch > p {
  width: 20%;
  font-size: 200%;
  outline: none;
  padding: 2% 4%;
  border: 3px solid rgb(0, 217, 255);
  border-radius: 50%;
}

.sign-form {
  display: flex;
  flex-direction: column;
  font-size: 180%;
}

.form-submit {
  outline: none;
  margin: 0 auto;
  border: 2px solid rgb(0, 217, 255);
  font-size: 100%;
  font-style: italic;
  padding: 2% 2%;
  min-width: 60%;
  margin-top: 20%;
  background-color: black;
  color: rgb(0, 217, 255);
}
