#sign {
  margin-bottom: 10%;
}

#sign {
  overflow-y: scroll;
}

#sign-switch {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 5%;
}

#sign-switch > p {
  font-size: 200%;
  outline: none;
  padding: 2% 4%;
  border: 3px solid rgb(0, 217, 255);
  border-radius: 50%;
}

.sign-form {
  display: flex;
  flex-direction: column;
  font-size: 180%;
}

.sign-field {
  margin-bottom: 10%;
}

.sign-field > p {
  color: orange;
}

.sign-field > input {
  font-size: 100%;
  width: 90%;
  margin-left: 3%;
  outline: none;
  border-color: black;
  border-bottom: 3px solid rgb(0, 217, 255);
  padding: 2%;
}

.sign-field > input:focus {
  border-bottom: 7px solid rgb(0, 217, 255);
}

.form-submit {
  margin: 0 auto;
  border: 2px solid rgb(0, 217, 255);
  font-size: 100%;
  font-style: italic;
  padding: 2% 2%;
  min-width: 60%;
  margin-top: 20%;
}
