* {
  cursor: url("./imgs/cursor.png") 0 0, default;
}

body {
  background-color: black;
  color: rgb(0, 217, 255);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(50, 211, 240);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: orange;
}

.edit-input {
  font-size: 180%;
  width: 85%;
  display: block;
  margin-left: 3%;
  outline: none;
  border-color: black;
  border-bottom: 3px solid rgb(0, 217, 255);
  padding: 2%;
  margin-bottom: 4%;
  background-color: black;
  color: rgb(0, 217, 255);
}

.edit-input:focus {
  border-bottom: 7px solid rgb(0, 217, 255);
}

.edit-desc-area {
  border: 2px solid rgb(0, 217, 255);
  font-size: 180%;
  outline: none;
  padding: 2%;
  width: 90%;
  resize: none;
  background-color: black;
  color: rgb(0, 217, 255);
}

.edit-warning {
  margin-left: 3%;
  font-size: 160%;
  color: crimson;
}

.sign-field {
  padding-left: 2%;
  margin-bottom: 10%;
}

.sign-field > p {
  color: orange;
}

.sign-field > input {
  font-size: 100%;
  width: 90%;
  outline: none;
  border-color: black;
  border-bottom: 3px solid rgb(0, 217, 255);
  padding: 2%;
  margin-bottom: 4%;
  background-color: black;
  color: rgb(0, 217, 255);
}

.sign-field > input:focus,
.sign-field > input:hover {
  border-bottom: 7px solid rgb(0, 217, 255);
}

.warning {
  font-size: 83%;
  color: crimson;
}

.edit-field {
  padding-bottom: 15%;
  margin-bottom: 7%;
  border-bottom: 7px dashed grey;
}

.edit-btn {
  outline: none;
  margin: 0 auto;
  border: 2px solid rgb(0, 217, 255);
  font-size: 180%;
  font-style: italic;
  padding: 2% 3%;
  min-width: 60%;
  margin-top: 10%;
  background-color: black;
  color: rgb(0, 217, 255);
}

.menu-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name-desc {
  padding: 2%;
  padding-top: 5%;
  text-align: center;
}

.nd-name {
  margin: 0;
  font-size: 440%;
  margin: 0 auto;
  padding: 1%;
}

.nd-desc {
  white-space: pre-wrap;
  margin-top: 6%;
  margin-left: 13%;
  margin-right: 13%;
  padding: 1%;
  font-size: 170%;
}

.menu-options-list {
  border-top: solid 4px orange;
  border-bottom: solid 4px orange;
  font-size: 170%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 6%;
  padding-left: 3%;
}

.edit-box-btn {
  margin-left: 20%;
}
